body{
    background-color: darkslateblue;
}

.container{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
}
img{
    filter: sepia(1);
    transition: 1s all;
    cursor: pointer;
}
img:hover{
    filter: sepia(0);
}